@tailwind base;
@tailwind components;
@tailwind utilities;


/* utility classes */
@layer components{
    .infoText{
        @apply p-4 bg-gray-700/50 rounded-lg max-w-[300px]
    }
}

.chatRow{
    display: flex; 
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-color: gray;
    border-radius: 4px;
    cursor: pointer;
}
